.pattern-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
    height: 60%;

    padding: 20px;

    button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        
    }

    /*div{
        display: grid;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background: #CCC;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }*/
}

:host{
    height: 100%;
}