<div *ngIf="editProperties else patterns">

    <div class="container">

        <app-properties [brightness]="brightness.value" [pattern]="selectedPattern" (returnEvent)="editProperties = $event"></app-properties>

    </div>

</div>

<div>
    <p>Brightness</p>
    <app-slider class="app-slider" min=0 max=100 value=0 (valueChangedEvent)="brightness.value = $event" #brightness></app-slider>
</div>


<ng-template #patterns>

    <div class="pattern container">

            <ng-template ngFor let-pattern [ngForOf]="patternsArray">
    
                <button class="button"
                (click)="clickPattern(pattern)"
                [style.border-color]="pattern == selectedPattern ? 'orange' : null">{{ pattern.name }}</button>
    
            </ng-template>
    
            <button id="editBtn" [disabled]="!selectedPattern" (click)="editProperties = !editProperties">Change Pattern Properties</button>
    
    </div>
    
</ng-template>
