@import '../scss/app.component.power-toggle.scss';
@import '../scss/app.component.variables.scss';

body{
    display: flex;
    flex-direction: column;
    background-color: darken($BackgroundColor, 15%);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        background-color: $BaseColor;
        color: $PrimaryColor;
        font-weight: 600;



        h1 {
            margin: 0px;
        }
        
        a {
            color: $PrimaryColor;
            text-decoration: none;
            outline: 0;
        }

        nav{
            ul{
                margin: 0px;
                padding: 0px;

                list-style-type: none;

                li{
                    display: inline-block;
                    padding: 0 30px;
                }
            }
        }
    }

    .container{
        width: 100%;
        flex: 1 1 auto;
        
        margin: auto;
        background-color: $BackgroundColor;
        width: $WindowWidth;

        #burger-menu{
            display: none;
        }
    }

    .bottom{
        display: grid;
        height: 70px;
        grid-template-columns: 1fr 3fr 1fr;
        flex: 0 0 auto;
    }

    #power-toggle{
        align-self: center;
        justify-self: center;
        grid-column-start: 2;
    }
}

@media screen and (max-width: $WindowWidth) 
{
    body{

        header{

            nav{
                display: none;
                position: absolute;
                width: 100%;
                bottom: 0px;
                left: 0px;
                z-index: 1;
                background-color: $BaseColor;

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0;

                    li{
                        font-size: 2em;
                        margin: 0 20px;
                        padding: 0;
                    }
                }
            }
        }

        .container{
            width: 100%;

            #burger-menu{
                cursor: pointer;
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;
                width: 50px;
                height: 50px;
                margin: 10px;
    
                span{
                    width: 100%;
                    height: 15%;
                    background-color: $BaseColor;
                }
            }
        }
    }   
}