<body>
  <header>
    <h1><a routerLink="/">LED Project</a></h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/patterns">Patterns</a></li>
        <li><a routerLink="/settings">Settings</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div id="burger-menu" class="menu-icon">
    <span class="menu-icon"></span>
    <span class="menu-icon"></span>
    <span class="menu-icon"></span>
  </div>
</body>