@import './scss-components/app.component.power-toggle.scss';
@import './scss-components/app.component.variables.scss';

// Variables
/*
$BaseColor: #3C3C3C;
$BackgroundColor: #FAFAFA;
$PrimaryColor: #F06800;
$WindowWidth: 600px;*/

body{
    display: flex;
    flex-direction: column;
    background-color: darken($BackgroundColor, 15%);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        color: $PrimaryColor;
        font-weight: 600;

        background-color: $BaseColor;


        h1 {
            margin: 0px;
        }
        
        a {
            color: $PrimaryColor;
            text-decoration: none;
            outline: 0;
        }

        nav{
            ul{
                margin: 0px;
                padding: 0px;

                list-style-type: none;

                li{
                    display: inline-block;
                    padding: 0 30px;
                }
            }
        }
    }

    
    .container{
        flex: 1 1 auto;
        margin: auto;
        background-color: $BackgroundColor;
        width: $WindowWidth;

        #hamburger{
            display: none;
        }
    }

    .bottom{
        flex: 0 0 auto;
    }
}

@media screen and (max-width: $WindowWidth) 
{
    body{

        header{

            nav{
                display: none;
                position: absolute;
                width: 100%;
                bottom: 0px;
                left: 0px;

                background-color: $BaseColor;

                ul{
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0;

                    li{
                        font-size: 2em;
                        margin: 0 20px;
                        padding: 0;
                    }
                }
            }
        }

        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;

            #burger-menu{
                cursor: pointer;
                display: flex;
                flex-flow: column;
                justify-content: space-evenly;
                width: 50px;
                height: 50px;
                margin: 10px;
    
                span{
                    width: 100%;
                    height: 7px;
                    background-color: $BaseColor;
                }
            }

            #power-toggle{
                display: inline-block;
                align-self: center;
                margin: 0 auto;
            }
        }
    }   
}