<body>
  <header>
    <h1><a routerLink="/">LED Project</a></h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/patterns">Patterns</a></li>
        <li><a routerLink="/settings">Settings</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div class="container bottom">
    <div id="burger-menu" class="menu-icon">
      <span class="menu-icon"></span>
      <span class="menu-icon"></span>
      <span class="menu-icon"></span>
    </div>
    <div class="power-toggle" id="power-toggle">
      <input type="checkbox" name="power-toggle" class="power-toggle-checkbox" id="power-toggle-checkbox" (click)="togglePower()">
      <label class="power-toggle-label" for="power-toggle-checkbox"></label>
    </div>
  </div>
</body>