$lightmode-primary-color:  orange;
$lightmode-primary-baseColor: #3C3C3C;
$lightmode-primary-bgColor: #FAFAFA;
$lightmode-highlight:  orange;

$BackgroundColor: #FAFAFA;
$PrimaryColor: orange;



.light-header{
    background-color: $lightmode-primary-baseColor;
    color: $lightmode-primary-color;
}

.light-body{
    background-color: lighten($lightmode-primary-bgColor, 15%);
}

.light-content-container{
    background-color: $lightmode-primary-bgColor;
}

.light-buttom-container{
    background-color: $lightmode-primary-bgColor;
}

.light-burger-menu{
    background-color: $lightmode-primary-baseColor;
}

.light-burger-menu-container{
    background-color: $lightmode-primary-baseColor;
    color: $lightmode-primary-color;    
    border-top: 1px solid $lightmode-primary-baseColor;
}

.light-pop-up{
    background-color: darken($lightmode-primary-bgColor, 15%);
    border: 1px solid $lightmode-primary-baseColor;
    color: $lightmode-primary-baseColor;    
}

.light-text{
    color: $lightmode-primary-color;
}

.light-warning{
    color: #A00;
}

.light-input{
    background-color: $lightmode-primary-bgColor;
    border: 1px solid $lightmode-primary-baseColor;
    color: $lightmode-primary-baseColor;    
}

.light-button{
    background-color: darken($lightmode-primary-bgColor, 10%);
    border: 1px solid $lightmode-primary-baseColor;
    color: $lightmode-primary-baseColor;

    &:hover{
        border: 1px solid $lightmode-highlight;
        color: $lightmode-highlight;
    }

    &:disabled{
        background-color: darken($lightmode-primary-bgColor, 3%);
        border: 1px solid $lightmode-primary-baseColor;
        color: lighten($lightmode-primary-baseColor, 40%);
    }
}

.light-button-active{
    background-color: darken($lightmode-primary-bgColor, 10%);
    border: 1px solid $lightmode-highlight;
    color: $lightmode-primary-color;

    &:hover{
        border: 1px solid $lightmode-highlight;
        color: $lightmode-highlight;
    }
}

.light-color-palette{
    background-color: $lightmode-primary-bgColor;
    border: none;
    color: $lightmode-primary-baseColor;
}

.light-color-palette-active{
    background-color: $lightmode-primary-bgColor;
    border: 1px solid $lightmode-primary-baseColor;
    color: $lightmode-primary-color;
}

.light-color-palette-add{
    background-color: $lightmode-primary-bgColor;
    border: 1px solid $lightmode-primary-baseColor;
    color: $lightmode-primary-baseColor;
}

.light-slider{
    background-color: darken($lightmode-primary-bgColor, 5%);
    color: $lightmode-primary-color;

    &::-webkit-slider-thumb{
        background-color: $lightmode-primary-color;
    }

    &::-moz-range-thumb{
        background-color: $lightmode-primary-color;
    }
}

.light-switch{
    background-color: darken($lightmode-primary-bgColor, 5%);
    border: 1px solid $lightmode-primary-baseColor;
}

.light-switch-active{
    background-color: darken($lightmode-primary-bgColor, 5%);
    border: 1px solid $lightmode-primary-baseColor;

}

.light-switch-inside{
    background-color: darken($lightmode-primary-color, 25%);
}

.light-switch-inside-active{
    background-color: $lightmode-primary-color;
}