<div id="colorPalette" *ngIf="colors">

    <ng-template ngFor let-color [ngForOf]="colors"; let-i="index">

        <button 
            style.background-color="{{ color.rgbString }}"
            [style.border-color]="selectedColorIndex == i && highlight ? 'orange' : 'black'"
            (click)="selectedColor(color, i)" 
            class="item">
        </button>

    </ng-template>

    <button *ngIf="colors.length < 15 && inputColor != null" (click)="addColor()" class="item">+</button>
    
</div>
