<div id="colorPalette" *ngIf="colors">

    <!-- Adds a button for each color which is saved in memory -->
    <ng-template ngFor let-color [ngForOf]="colors"; let-i="index">

        <button class="item"
            [ngClass]="selectedColorIndex == i && highlight ? data.style.colorPaletteActive : data.style.colorPalette"
            style.background-color="{{ color.rgbString }}"
            (click)="selectedColor(color, i)">
        </button>

    </ng-template>

    <!-- Adds a button if there is space for more colors, which will save currently selected color to memory -->
    <button class="item"
        [ngClass]=data.style.colorPaletteAdd
        *ngIf="colors.length < 15 && inputColor != null" 
        (click)="addColor()">+
    </button>
    
</div>
