.reboot-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto 1fr;
}

h1{
    justify-self: center;
    margin: 20px;
}

p{
    justify-self: center;
    margin: 10px 20px;
}

.button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button{
    margin: 30px;
    padding: 10px;
}