<div class="container">

    <p>Move a color by selecting it and using the arrows. Delete a color by selecting it and press the delete.</p>
    
    <app-color-palette
        (onSelectedColor)="selectedColorChange($event)"
        [colors]="data.colorPalette"
        class="palette">
    </app-color-palette>

    <div class="button-container">
        <button (click)="okBtn()">OK</button>
        <button [disabled]="!selectedColor" (click)="changePosition(-1)">◀</button>
        <button [disabled]="!selectedColor" (click)="changePosition(1)">▶</button>
        <button [disabled]="!selectedColor">X</button>
    </div>
</div>