@import '../../../scss/elements.scss';

.container{
    background-color: white;
    border: 5px black solid;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding-top: 10px;
}

.palette{
    width: 90%;
    justify-self: center;
}

p{
    justify-self: center;
    margin: 10px 20px;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
}

button{
    margin: 30px 10px;
    padding: 10px;
}