@import './themes/lightmode.scss';
@import './themes/darkmode.scss';
@import './themes/partymode.scss';
@import './themes/terminalmode.scss';

html{   
    height: 100%;
    touch-action: manipulation;   
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
}