@import '../../scss/variables.scss';

#colorWrap{
  height: 100%;
  margin-top: 10px;
  box-sizing: border-box;

  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: center;

  .colorWheel{
    display: block;
  }

  app-slider{
    width: 300px;
    margin-top: 10px; 
  }

  app-color-palette{
    width: 300px;
    margin-top: 15px;
  }
}

app-slider ::ng-deep .slider{

  &::-webkit-slider-thumb{
    width: 25px; height: 35px;
    background: none;
    border: 4px $PrimaryColor solid;
  }

  &::-moz-range-thumb{
    width: 25px; height: 35px;
    background: none;
    border: 4px $PrimaryColor solid;
  }
}