#colorWrap{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .colorWheel{
    display: block;
  }

  #colorPalette{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    
    .sample{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0px 10px;
      border: 1px solid #888;

      &:active {
        outline: none;
        border: none;
      }

      &:focus {outline:0;}
    }
  }
}