.settings-container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    
    height: 80%;

    padding: 20px;
}

#pop-up-container{
    position: absolute;
    width: 96%; height: auto;
    left: 2%; top: 2%;
}